<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="todoService" value="_3AK_Vorbereitung_Test_Beispiel.XMLToDoService"/>
		<add key="fileName" value ="myToDos.xml"/>
	</appSettings>
</configuration>